* {
    box-sizing: border-box;
  }

.heart_off {
  width: 24px; /* pathのサイズ */
  height: 24px; /* pathのサイズ */
  background: #ffffff; /* 色 */
  clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
  transform: scale(1);
}
.heart_on {
  width: 24px; /* pathのサイズ */
  height: 24px; /* pathのサイズ */
  background: #ff0077; /* 色 */
  clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
  transform: scale(1);
}
.heart_box{
  margin: 0px 20px;
  display:flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  justify-content:flex-end;
}
p.heart_num{
  margin-bottom: 0;
}


  .item_box{
    vertical-align: top;
    background-color: rgba(0, 217, 255, 0.308);
    width: 320px;
    display: inline-block;
    font-size: 16px;
    
  }
  .middle_box{

    background-color: cadetblue;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    margin:0 auto;
  }
  .main{
    margin-top: 60px;

  }
  #header{
    position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
    cursor: pointer;
    color: salmon;
    background-color: white;
    width: 100%;
    height: 60px;
    vertical-align: middle;
  }

  p.header{
    height: 60px;
    margin: 0;
    margin-left: 10px;
    font-size: 24px;
    display: table-cell;
    vertical-align: middle;
  }
  img.header{
    margin: 0;
    margin-right: 15px;
    margin-left: 20px;
    vertical-align: middle;
    font-size: 0;
    height: 40px;
  }



  .right_box{
    background-color: rgb(120, 120, 202);
    display: inline-block;
    width: 320px;
    height: 400px;
    vertical-align: top;
    font-size: 16px;
    margin:0 auto
  }
  .left_box{
    background-color: cadetblue;
    display: inline-block;
    width: 320px;
    height: 400px;
    vertical-align: top;
    font-size: 16px;
    margin:0 auto
    
  }
  body {
    font-size: 0;
    display: flex;
    justify-content:center;
    background-color: #F4F5F7;
  }
  a {
    font-size: 16px;
  }
  #container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    position: static;
  }
  
  .clearfix {
    clear: both;
  }
  
  .hidden {
    display: none;
  }
  
  #user-info {
    border: 1px solid #CCC;
    clear: both;
    margin: 0 auto 20px;
    max-width: 400px;
    padding: 10px;
    text-align: left;
  }
  
  #photo-container {
    background-color: #EEE;
    border: 1px solid #CCC;
    float: left;
    height: 80px;
    margin-right: 10px;
    width: 80px;
  }
  
  #photo {
    height: 80px;
    margin: 0;
    width: 80px;
  }
  
  @media (max-width: 300px) {
    #photo-container,
    #photo {
      height: 40px;
      width: 40px;
    }
  }

#g-nav{
  margin-top: 60px;
}

  /*========= ナビゲーションのためのCSS ===============*/

/*アクティブになったエリア*/
#g-nav.panelactive{
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position:fixed;
  z-index: 999;
top: 0;
width:100%;
  height: 100vh;
}

/*丸の拡大*/
.circle-bg{
  position: fixed;
z-index:3;
  /*丸の形*/
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #999;
  /*丸のスタート位置と形状*/
transform: scale(0);/*scaleをはじめは0に*/
right:-50px;
  top:-50px;
  transition: all .6s;/*0.6秒かけてアニメーション*/
}

.circle-bg.circleactive{
transform: scale(50);/*クラスが付与されたらscaleを拡大*/
}

/*ナビゲーションの縦スクロール*/
#g-nav-list{
  display: none;/*はじめは表示なし*/
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999; 
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list{
   display: block; /*クラスが付与されたら出現*/
}

/*ナビゲーション*/
/*#g-nav ul {
opacity: 0; はじめは透過0*/
  /*ナビゲーション天地中央揃え※レイアウトによって調整してください。不必要なら削除*/
  /*position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}*/

/*背景が出現後にナビゲーションを表示*/
#g-nav.panelactive ul {
  opacity:1;
}

/* 背景が出現後にナビゲーション li を表示※レイアウトによって調整してください。不必要なら削除*/
#g-nav.panelactive ul li{
animation-name:gnaviAnime;
animation-duration:1s;
animation-delay:.2s;/*0.2 秒遅らせて出現*/
animation-fill-mode:forwards;
opacity:0;
}
@keyframes gnaviAnime{
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}


/*リストのレイアウト設定*/
#g-nav li{
text-align: center; 
list-style: none;
}

#g-nav li a{
color: #333;
text-decoration: none;
padding:10px;
display: block;
text-transform: uppercase;
letter-spacing: 0.1em;
font-weight: bold;
}


/*========= ボタンのためのCSS ===============*/
.openbtn{
position:fixed;
top:5px;
right: 10px;
z-index: 9999;/*ボタンを最前面に*/
cursor: pointer;
  width: 50px;
  height:50px;
}

/*×に変化*/	
.openbtn span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
background-color: #666;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
top:15px;	
}

.openbtn span:nth-of-type(2) {
top:23px;
}

.openbtn span:nth-of-type(3) {
top:31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
opacity: 0;
}

.openbtn.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}



@media (max-width: 679.9px) {
  .main{
    width: 320px;
  }
  .moveright{
    display: none;
  }
}
@media (min-width: 680px) and (max-width: 999.9px) {
  .main{
    width: 640px;
  }
  .moveright{
    display: none;
  }
}
@media (min-width: 1000px) and (max-width: 1319.9px) {
  .main{
    width: 960px;
  }
  .moveleft{
    display: none;
  }
}
@media (min-width: 1320px) and (max-width: 1639.9px) {
  .main{
    width: 1280px;
  }
  .middle_box{
    width: 640px;
  }
  .moveleft{
    display: none;
  }
}
@media (min-width: 1640px) {
  .main{
    width: 1600px;
    justify-content:center;
  }
  .middle_box{
    width: 960px;
  }
  .moveleft{
    display: none;
  }
}

@media (max-width: 1319.9px) {
  .middle_box{
    width: 320px;
  }
}
.modal{
  margin-top: 60px;
}
div#firebaseui-container a{
  font-size: 12px;
  padding: 0;
  display: inline-block;
  text-transform: none;
  letter-spacing: 0;
  font-weight: normal;
  color: #007bff;
}